* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Halvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

.box {
    float: left;
    width: 50%;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section {
    padding: 10px;
}

aside {
    float: right;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 25px;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

header {
    margin: 0 10px 0 10px;
}

nav, section, aside {
    margin: 10px;
}

footer {
    margin: 10px 10px 0 10px;
}